/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #ECEFF4FF;
    background-alt: #E5E9F0FF;
    foreground:     #2E3440FF;
    selected:       #5E81ACFF;
    active:         #A3BE8CFF;
    urgent:         #BF616AFF;
}
