/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #1a1b26ff;
    background-alt: #292e42ff;
    foreground:     #C0CAF5FF;
    selected:       #7aa2f7FF;
    active:         #9ece6aFF;
    urgent:         #f7768eFF;
}
